{{ $featureGates := .Values.featureGates }}
{{- if .Values.global }}
  {{ $featureGates = mergeOverwrite dict .Values.featureGates .Values.global.featureGates }}
{{- end }}

{{ if $featureGates.Elasticsearch }}

apiVersion: catalog.kubedb.com/v1alpha1
kind: ElasticsearchVersion
metadata:
  name: 'opensearch-1.1.0'
  labels:
    {{- include "kubedb-catalog.labels" . | nindent 4 }}
spec:
  authPlugin: OpenSearch
  db:
    image: '{{ include "image.ghcr" (merge (dict "_repo" "appscode-images/opensearch") $) }}:1.1.0'
  distribution: OpenSearch
  exporter:
    image: '{{ include "image.dockerHub" (merge (dict "_repo" "prometheuscommunity/elasticsearch-exporter") $) }}:v1.10.0'
  initContainer:
    image: '{{ include "image.dockerHub" (merge (dict "_repo" "tianon/toybox") $) }}:0.8.4'
    yqImage: '{{ include "image.ghcr" (merge (dict "_repo" "kubedb/elasticsearch-init") $) }}:1.1-opensearch-v2026.1.15'
  podSecurityPolicies:
    databasePolicyName: elasticsearch-db
  stash:
    addon:
      backupTask:
        name: elasticsearch-backup-7.14.0
        params:
        - name: args
          value: --match=^(?![.])(?!security-auditlog).+
      restoreTask:
        name: elasticsearch-restore-7.14.0
  version: 1.1.0
{{ end }}
