apiVersion: v1
description: KubeDB Community by AppsCode - Community features for KubeDB
name: kubedb-community
version: v2025.12.15
appVersion: v2025.12.15
home: https://kubedb.com
icon: https://cdn.appscode.com/images/products/kubedb/kubedb-community-icon.png
sources:
- https://github.com/kubedb
maintainers:
- name: appscode
  email: support@appscode.com
